
.Button
{
    -fx-background-color: #f59953;
    -fx-background-radius: 32 34 20 40;
}

.button:hover
{
    -fx-background-color: #f78a36;
    -fx-background-radius: 20 20 20 20;
}
.button:pressed
{
    -fx-background-color: #c76e2a;
    -fx-background-radius: 20 20 20 20;
}

.root { /* This is a built-in class for the top-level container */
    background-image: url('background.png');
    background-repeat: no-repeat;
    background-size: cover;
}
